
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&display=swap');

body {
    font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    width: 90%;
    /*height: 90%; */
    margin: auto;
    /* border: solid black 3px; */
}

#side-bar {
    background-color: #2563eb;
    color: white;
    grid-column: 1 / 2;
    display: grid;
    /* grid-template-rows: 1fr 4fr 2fr; */
    grid-template-rows: repeat(auto-fit, minmax(1em, 1.5em));
    gap: 5px;
}

.side-bar-nav-list, 
.side-bar-brand-list,
.announcement-list,
.trending-list {
    list-style: none;
   /* border: solid red 1px; */
}

.side-bar-nav-list a:hover,  
.side-bar-brand-list a:hover {
    color: gray;
}

.side-bar-nav-list a, .side-bar-brand-list a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    margin-left: 5px;
    /* border: solid; 
    margin: auto; */
   /* height: 50%; */
}

.side-bar-img {
    filter: invert(100%); /* this is to change image color from black to white */
}

#side-bar-head, 
#side-bar-nav,
#side-bar-brand {
   /* border: solid; */
}

#side-bar-head {
    grid-row: 1 / 3;
    align-content: center;
    padding-left: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

#side-bar-nav {
    grid-row: 4 / 13;
}

#side-bar-brand {
    grid-row: 14 / 20; 
}

#main {
    display: grid;
    grid-template-rows: 1fr 8fr;
}

#header {
    background-color: #e5e7eb;
    /* grid-row: 1 / 2; */
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    /* gap: 3px; */
    /* border: solid red 1px; */
}

#upper-header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3.5fr 1fr 1.5fr;
    /*gap: 20px; */
    align-items: center;
    margin-top: 5px;
    /* border: solid green 2px; */
}

#search {
    grid-column: 1 / 2;
    margin-left: 30px;
    /* gap: 10px; */
}

#search-box {
    background-color: #cbd5e1;
    border: 1.5px; 
    border-radius: 15px;
    border-style: outset;
}

#upper-header-bell {
    align-content: center;
}

#upper-header-self {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
}

#lower-header {
    grid-row: 2 / 3;
    /* border: solid green 2px; */
    display: grid;
    grid-template-columns: 3fr 2fr;
    /* gap: 5px; */
    margin-left: 10px;
}

#lower-header-self {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 6fr;
    /* border: solid brown 2px; */
    align-items: center;
    line-height: 0.5em;
}

#greeting-1 {
    font-size: 0.5em;
    font-weight: bold;
}

#greeting-2 {
    font-size: 1.0em;
    font-weight: bold;
}

#lower-header-list {
    grid-column: 2 / 3;
    /* border: solid brown 2px; */
    font-size: 0.6em;
    align-self: center;
}

#lower-header-list ul {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: space-around;
}

#lower-header-list a {
    text-decoration: none;
    color: white;
    background-color: #2563eb;
    padding: 5px 20px;
    border-radius: 20px; 
}

#contents {
    background-color: #cbd5e1;
    /* grid-row: 2 / 7; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#projects {
    padding: 15px;
    grid-column: 1 / 3;
    /* border: 2px solid; */
    display: grid;
    grid-template-rows: 1fr 12fr;
}

#project-head {
    grid-row: 1 / 2;
    font-size: 1.0em;
    font-weight: bold;
}

#project-cards {
    /* grid-row: 2 / 3; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px; 
}

.card {
    background-color: white;
    display: grid;
    grid-template-columns: 0.2fr 9.8fr;
    /*gap: 10px; */
    border-radius: 10px;
    overflow: hidden; /* this will hide the non-radius overflow from .card-side-dec */
    height: 300px; 
   /* border: solid purple 2px; */
}

.card-side-dec {
    background-color: orange;
    /* grid-column: 1 / 2; */
    /*border: solid black 2px; */
}

.card-main {
    margin: 20px;
    /*grid-column: 2 / 3; */
    /*display: grid;
    grid-template-rows: 1fr 3fr 1fr; */
    line-height: 0.8em;
    overflow: scroll;
    /*border: solid black 2px; */
}

.card-title {
    grid-row: 1 / 2;
    font-size: 0.8em;
    font-weight: bold;
    /*border: solid black 2px; */
}

.card-details {
    grid-row: 2 / 3;
    /* border: solid black 2px; */
}

.card-icons {
    margin: 10px;
    padding: 10px;
    grid-row: 3 / 4;
    text-align: end;
    /*border: solid black 2px; */
}

.card-icons a {
    padding: 10px;
}

#announcements-and-trending {
    /* grid-column: 3 / 4; */
    /* border: 2px solid; */
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

#announcement>p,
#trending>p {
    font-size: 1.0em;
    font-weight: bold; 
}

#announcement-contents,
#trending-contents {
    background-color: white;
    margin: 10px;
    padding: 15px;  
    line-height: 0.8em;
    border-radius: 15px;
}

.announcement-list {
    border-bottom: solid gray 2px;
}

.announcement-header {
    font-size: 0.8em;
    font-weight: bold;
}

.card-details, 
.announcement-details {
    font-size: 0.7em;
    font-weight: normal;
    opacity: 0.6;
}

.trending-list-icon {
    grid-area: theIcon;
    /*border: solid red 2px; */
    align-self: center;
}

.trending-list-at {
    grid-area: theAt;
    font-size: 0.7em;
    opacity: 1.0;
    font-weight: bold;
    /*border: solid red 2px; */
}

.trending-list-name {
    grid-area: theName;
    font-size: 0.8em;
    font-weight: normal;
    opacity: 0.6;
    /*border: solid red 2px; */
    align-content: flex-start;
}

.trending-list {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "theIcon theAt"
        "theIcon theName";
}

